.main-container{
    min-height:60vh;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
}

h1{
    color:rgb(172, 255, 47);
    font-size: 50px !important;
    text-align: center;
    font-weight: bold;
}

.video-overview{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
}

.video-preview-container{
    display: flex;
    background-color: rgb(12, 12, 12);
    margin: 20px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    h3{
        color:white
    }

    

}

.video-detail{
    display: none;
    position:absolute;
    height:calc(100vh - 40px);
    width:calc(100vw - 40px);
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    z-index: 5;
    background-color: black;

}

button{
    position: absolute;
    bottom:-50px;
    right:12px;
    background-color: greenyellow;
    border-radius: 3px;
    border:solid 1px black;
    padding: 3px;
    cursor: pointer;
    z-index: 8;
    &:hover{
        background-color: rgb(203, 255, 47);
    }

}

.upload-cont{
    background-color: black;
    position: absolute;
    bottom:50px;
    z-index: 10;
    left: calc(50vw - 200px);
    //display:none;
    padding: 20px;
    width:400px;
    .headline{
        font-size:26px !important
    }
    input{
        height:32px;
        width:400px;
        background-color: gray;
        box-sizing: border-box;
        border:solid greenyellow 1px;
    }

    input::placeholder{
        color:white;}
        
    textarea::placeholder{
        color:white;}

    textarea{
        height:100px;
        width:400px;
        box-sizing: border-box;
        background-color: gray;
        border-left:solid greenyellow 1px;
        border-right:solid greenyellow 1px;
        color: white;
    }

    button{
        margin-right: calc(50% - 50px);
        margin-left: calc(50% - 50px);
        width:100px;
        position: relative !important;
        background-color: greenyellow;
        border-radius: 3px;
        border:solid 1px black;
        padding: 3px;
        margin-right:calc(50% - 50px);
        right: 0;
        color: black;
        
        cursor: pointer;
        &:hover{
            background-color: rgb(203, 255, 47);
        }
    }

}

.headline{
    font-size:26px;
}

#bg{
    position: fixed;
    z-index: 6;
    background-color: rgba(128, 128, 128, 0.41);
    top:0;
    bottom:0;
    left:0;
    right:0;

}