.login-container{
    width:100vw;
    top:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-fields{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    padding:10px;
    position: relative;
    h1{
        color:white
    }
    .submit-btn{
        background-color: rgb(3, 3, 58);
        color:white;
    }
}

.info-sent{
    display: none;
    position:absolute;
    top:150px;
    bottom:150px;
    width:50vw;
    height:50vh;
    border:solid 1px greenyellow;
    background-color: darkgray;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    border-radius: 16px;
    z-index: 7;
}
.back-arrow{
    position:absolute;
    left:20px;
    bottom: 20px;
    cursor: pointer;
}

.yellow{
    color:yellow;
}
