.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:85vh;
}
.login-fields{
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    h1{
        color:white
    }
    .submit-btn{
        background-color: rgb(3, 3, 58);
        color:white;
        margin-bottom:32px; ;
    }
}
.back-arrow{
    position:absolute;
    left:20px;
    bottom: 20px;
}

.yellow{
    color:yellow;
}

.reset{
    text-decoration: none;
    color:yellow;
    position: absolute;
    bottom:2px;
    right:2px;
     &:hover{
        cursor: pointer;
     }
}