<div class="video-container-detail" *ngIf="selectedVideo">
    <a (click)="naviMainpage()">Back to Overview</a>
    <h3>{{selectedVideo['title']}}</h3>
    <div class="video-preview-container" >
       
        <video class="video"width="80vw" height="80vh" controls="controls" preload="metadata">
            <source [src]=getVideoSource() type="video/mp4">
          </video>
          <div class="info-video">
            {{selectedVideo.description}}
        </div> 
        <div class="resolution-cont">
            <button (click)="getFile(480)">480</button>
            <button (click)="getFile(720)">720</button>
            <button (click)="getFile(1000)">1020</button>

        </div>   
    </div>
   
</div>