<div class="login-container">
    <form (submit)="getEmail()">
    <mat-card>
        <mat-card-content class="login-fields">
          <div class="info-sent" id="sent">
            Resetanfrage gesendet. Bitte schaue ins Emailpostfach und klicke den Link!
          </div>
            <h1>Reset Password</h1>
            <mat-form-field class="w100">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [(ngModel)]="email"[formControl]="emailControl" required>
                <mat-error class="yellow" *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              
            <button class="submit-btn" type=submit mat-raised-button>Passwort reset</button>
        </mat-card-content>
        <mat-icon (click)="back()"  class="back-arrow" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
       
      </mat-card>
    </form>
</div>


