<div class="regulatory-container">
    <a class="back" (click)="getBack()" >Zur Übersicht</a>
    <div class='impressum'><h1>Impressum</h1><p>Angaben gemäß § 5 TMG</p><p>Katja Dr. Becker-Lindhorst <br> 
        Kirchenstr.13<br> 
        82194 Gröbenzell <br> 
        </p><p> <strong>Vertreten durch: </strong><br>
        Katja Dr. Becker-Lindhorst<br>
        </p><p><strong>Kontakt:</strong> <br>
        Telefon: 08142-51975<br>
        E-Mail:<br> <a href='mailto:dr.katja.becker-lindhorst@t-online.de'>dr.katja.becker-lindhorst@t-online.de</a></p><br> 
        Website Impressum von <br><a href="https://www.impressum-generator.de">impressum-generator.de</a>
         </div>
         
   

</div>

